@charset "utf-8";
.cont01 {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
.bg01 {
	background-image: url("../images/bg01.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}
.bg02 {
	background-image: url("../images/bg02.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #e7f6fd;
}
.bg04 {
	background-image: url("../images/bg04.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}
.bg06 {
	background-image: url("../images/bg06.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}
.bg08 {
	background-image: url("../images/bg08.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #edf8fe;
}
.bg09 {
	background-image: url("../images/bg09.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}
.bg_b {
	background-color: #e7f6fd;
}
.headBox {
	width: 490px;
}
.headBox ul {
	margin-top: 27px;
	margin-right: 20px;
	height: 33px;
}
.headBox ul li:first-child {
	background-color: #333;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding-left: 20px;
}
.headBox ul li:first-child a {
	width: 70px;
	display: inline-block;
	color: #fff;
	background-image: url("../images/jp.png");
	background-repeat: no-repeat;
	background-position: 0 8px;
	font-size: 16px;
	padding: 4px 0 1px 30px;
}
.headBox ul li:nth-child(2) {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-left: 20px;
	border: 1px solid #333;
}
.headBox ul li:nth-child(2) a {
	width: 70px;
	display: inline-block;
	background-image: url("../images/usa.png");
	background-repeat: no-repeat;
	background-position: 0 8px;
	font-size: 16px;
	padding: 3px 0 2px 30px;
}
.headBtn {
	margin-top: 16px;
}
.fvBtn {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	bottom: 32px;
	text-align: center;
}
.qr {
	position: absolute;
	right: 152px;
	top: 302px;
}
.foot {
	padding-bottom: 160px;
}
.cont02 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.pri {
	font-size: 14px;
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-position: top 4px right 0;
	padding-right: 22px;
}
.copy {
	font-size: 13px;
}
#fix-btn {
	position: fixed;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
	bottom: 0;
	opacity: 0;
	transform: translateY(50px);
	transition: all 0.5s ease;
	visibility: hidden;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 12px 0 2px 0;
}
#fix-btn.is-visible {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}
.form {
	position: absolute;
	top: 425px;
	;
	left: 0;
	right: 0;
	margin: auto;
	width: 780px;
	background-color: #fff;
	border-radius: 20px;
	padding: 70px 110px;
}
.form dt {
	width: 190px;
	font-weight: bold;
	margin-top: 15px;
}
.form .hissu {
	width: 42px;
	background-color: #F96800;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding: 2px 0;
	height: 20px;
	margin-top: 14px;
}
.form .nini {
	width: 42px;
	background-color: #A4A4A4;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding: 2px 0;
	height: 20px;
	margin-top: 14px;
}
.form .inp {
	width: 500px;
	margin-left: 30px;
}
.form dd input {
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴシック", "Hiragino Kaku Gothic", "メイリオ", Meiryo, Verdana, Roboto, "Droid Sans", sans-serif !important;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	border: none;
	background-color: #F0F0F0;
	height: 50px;
	font-size: 16px;
	border-radius: 4px;
}
#form_submit input {
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴシック", "Hiragino Kaku Gothic", "メイリオ", Meiryo, Verdana, Roboto, "Droid Sans", sans-serif !important;
	width: 400px;
	background-color: #0156A9;
	border-radius: 6px;
	border: none;
	padding: 22px 0 22px;
	cursor: pointer;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 18px;
}
form#mail_form div.tenBox:after {
	content: "";
	position: absolute;
	top: calc(50% - 7px);
	right: 16px;
	width: 8px;
	height: 8px;
	border-right: 2px solid #666666;
	border-bottom: 2px solid #666666;
	transform: rotate(45deg);
}
form#mail_form textarea {
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴシック", "Hiragino Kaku Gothic", "メイリオ", Meiryo, Verdana, Roboto, "Droid Sans", sans-serif !important;
	display: block;
	width: 96%;
	height: 300px;
	padding: 5px 2%;
	resize: vertical;
	border: none;
	border-radius: 3px;
	-webkit-appearance: none;
	font-size: 16px;
	background-color: #F0F0F0;
}
.priForm dt {
	display: none;
}
.check {
	font-size: 15px;
	width: 285px;
	margin-left: auto;
	margin-right: auto;
}
.check label {
	display: flex;
	align-items: center;
	justify-content: center;
}
.priForm dd input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin: 0 3px 0 0;
}
.error_blank, .error_format {
	font-size: 14px;
	color: #c80000;
}
@media screen and (max-width: 640px) {
	.cont01 {
		width: 100%;
	}
	.cont02 {
		width: 90%;
	}
	header {
		width: 94%;
		margin-left: auto;
		margin-right: auto;
	}
	.headBtn {
		display: none;
	}
	.headBox {
		width: 205px;
	}
	header h1 {
		width: 110px;
	}
	.headBox ul {
		margin-top: 14px;
		margin-right: 0;
		height: 33px;
	}
	.headBox ul li:first-child a {
		width: 60px;
		font-size: 14px;
		padding: 5px 0 1px 28px;
	}
	.headBox ul li:nth-child(2) a {
		width: 60px;
		font-size: 14px;
		padding: 4px 0 2px 28px;
	}
	.headBox ul li:first-child {
		padding-left: 15px;
	}
	.headBox ul li:nth-child(2) {
		padding-left: 12px;
	}
	#fix-btn {
		padding: 10px 0 6px 0;
	}
	#fix-btn img {
		width: 90%;
	}
	.form {
		top: 77%;
		width: 76%;
		padding: 25px 7% 30px;
		border-radius: 10px;
	}
	.qr {
		right: 16%;
		top: 63%;
		width: 47px;
	}
	form dl {
		justify-content: space-between;
	}
	.form dt {
		width: 130px;
		margin-top: 0;
	}
	.form .hissu {
		margin-top: 0;
	}
	.form .inp {
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
	}
	.form .nini {
		margin-top: 0;
	}
	.form dd input {
		height: 40px;
	}
	form#mail_form textarea {
		height: 150px;
	}
	#form_submit input {
		width: 100%;
		padding: 20px 0 20px;
		font-size: 16px;
	}
	.spBg01 {
		background-color: #e7f6fd;
		padding-top: 108%;
	}
	.foot {
		padding-bottom: 120px;
	}
	.copy {
		text-align: center;
		width: 100%;
	}
}